/* Header.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #f1f0f0; /* Change the background color as needed */
    color: white; /* Change the text color as needed */
  }
  
  .left img {
    width: 50px; /* Adjust the width of the logo as needed */
  }
  
  .right ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .right li {
    margin-right: 20px; /* Adjust the margin between the links as needed */
    cursor: pointer;
    color: #111;
  }
  
  .right li:last-child {
    margin-right: 0; /* Remove margin for the last link */
  }
  