* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

header img{
    width: 150px;
    height: 150px;
    margin-left: -75rem;
    cursor: pointer;
}